/* formatting avatar in nav bar */
body {background-color: rgba(0, 255, 242, 0.05);}

#avatar {width: 80px;}

#customnav {background-color: rgba(0, 217, 255, 0.8);}

.customNav {width: 100%;
}

#name {padding: 0px 30px;
font-size: 2em;
}

.navbar-nav{
  margin-left: auto;
  margin-right: 0 !important;
  padding-right: 1.5em;
  gap: 1.5em;
  font-size: 1.3em;}

#aboutme {height: 400px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2em;
  position: relative;
}

#picture {width: 20%;
text-align: center;}

#herotext{flex-wrap: wrap;}

#avatarphoto {width: 200px;
margin: 0px;}

#banneratt{position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;}

.card-img-top {height: 200px;
width: 100%;
height: inherit;
overflow: hidden;
}

.work{margin-top: 10px;}

.btn {display: inline;}

.card{display:flex;
  align-items: center;}

.row {margin: 50px 3%;}