/* formatting avatar in nav bar */
body {background-color: rgba(0, 255, 242, 0.05);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#name {padding-left: 10px;
font-size: 2em;
}

.navbar-nav {margin-left: auto;
margin-right: 0 !important;
font-size: 20px;}

.jumbotron, #skillsaboutme {
padding: 30px;
background-image: url(../images/banner.jpg);
background-size: cover;}

.jumbocontainer {display: flex;
  flex-direction: row;
}

#upperjumbotron{display: flex;
align-items: center;}

#picturecontainer {width: 30%;
  min-width: 100px;
  max-width: 200px;
justify-content: center;}

#picture {width: 100%;
height: auto;
}

.maintext {padding-left: 20px;
font-size: 3em;}

.subheading {margin-top: 30px;}

#banneratt {font-size: 10px;}

.btn {margin: 5px;}

.row {margin: 20px 5% 20px 5%;}

.col-sm-4{padding-bottom: 20px;}

#jumbobottom{display: flex;}

#contact {padding: 20px;
display: flex;
gap: 20px;
font-size: 2em;}

#contactme{margin-bottom: 0px;
align-self: flex-end;
padding-bottom: 5px;}

.contlink:hover {color: black;
background: rgb(0, 238, 255);
box-shadow: 2px 5px 4px 5px rgb(36, 188, 199);}